<div class="widget-background">
  <div class="modal-header">
    <h4 class="modal-title">{{ register ? 'PLEASE REGISTER' : 'LOGIN' }}</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="register; else login">
    <app-signup></app-signup>
  </div>

  <ng-template #login>
    <app-login></app-login>
  </ng-template>

</div>
