<div class="widget-background">
  <div class="modal-header">
    <h4 class="modal-title">PLEASE FILL IN THE SHIPPING DETAILS:</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="shippingForm" (ngSubmit)="sendOrder()">
    <div class="modal-body">
      <div class="form-group">
        <label for="username">Name</label>
        <input class="form-control font-weight-bold" type="text" id="username" name="username" formControlName="name">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control font-weight-bold" type="text" id="address" name="address" formControlName="address">
      </div>
      <div class="form-group">
        <label for="phone">Phone no.</label>
        <input class="form-control font-weight-bold" type="tel" id="phone" name="phone" formControlName="phone">
      </div>
    </div>
    <div class="modal-footer">
      <div style="width:100%" class="btn-group-vertical">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="sendOrder()"><h2 class="font-weight-bold ">
          ORDER</h2>
        </button>
        <div style="width:100%">
          <button type="button" class="btn btn-dark btn-lg btn-block" (click)="activeModal.close('Close click')">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
