<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <ul class="navbar-nav mx-auto">
        <div [ngSwitch]="isLoggedIn()">
          <div *ngSwitchCase="true">
            <li *ngIf="isLoggedIn()" style="cursor: pointer" class="nav-item active">
              <a class="nav-link font-weight-bold" (click)="logOut()">LOGOUT</a>
            </li>
          </div>
          <div *ngSwitchCase="false">
            <li class="nav-item active" style="cursor: pointer">
              <a class="nav-link font-weight-bold" (click)="openLogin()">LOGIN</a>
            </li>
          </div>
        </div>
      </ul>
  </nav>
</div>
