<div class="container">
  <div class="widget widget-background p-3">
    <div class="list-group">
      <div class="widget-list">
        <ul class="list-unstyled">
          <li class="p-2" *ngFor="let item of getMenuItems()" (click)="addToBasket(item)" style="cursor: pointer;">
            <div class="dot-leader">
              <h2 class="food-name font-weight-bold">{{ item.Name }} <span><img *ngIf="item.Spicy" src="/assets/images/chili.png" ngbTooltip="Spicy" style="max-height: 1rem;"></span><span><img *ngIf="item.Vegatarian" ngbTooltip="Vegetarian" src="/assets/images/broccoli.png" style="max-height: 1rem;"></span></h2>
              <h2 class="food-price">{{ item.Price }} Ft</h2>
            </div>
            <small class="clearfix">{{ item.Description }}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
