.dot-leader {
  overflow: hidden;
}

.food-name {
  float: left;
  padding: 0 .3em 0 0;
  margin: 0;
}

.food-price {
  float: right;
  padding: 0 0 0 .3em;
  margin: 0;
}
/* That's the leader! */
.dot-leader:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1.0em;
  border-bottom: 1px dotted;
}
