<div class="container">
  <div class="widget widget-background p-3">
    <h1 class="text-center text-white"><strong>CATEGORIES</strong></h1>
      <ul class="list-unstyled text-center list-group" style="cursor: pointer;">
        <li class="widget-list" *ngFor="let category of getCategories()" (click)="onCategoryClicked(category.DISTINCT)">
          {{ category.DISTINCT }}
        </li>
      </ul>
    </div>
</div>
