<div class="widget-background">
  <div class="modal-header">
    <h4 class="modal-title">YOUR ORDER SUMMARY:</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Qty</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of basket; index as i;">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.Name }}</td>
        <td>{{ item.Qty }}</td>
        <td>{{ item.Price * item.Qty }}</td>
      </tr>
      <tr>
        <td colspan="3">SUM:</td>
        <td>{{ sum }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div style="width:100%" class="btn-group-vertical">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onOrderSent()"><h2 class="font-weight-bold ">
        ORDER</h2>
      </button>
      <div style="width:100%" class="btn-group btn-group-lg">
        <button type="button" class="btn btn-dark" style="width: 50%" (click)="emptyBasket()">EMPTY BASKET</button>
        <button type="button" class="btn btn-dark" style="width: 50%" (click)="activeModal.close('Close click')">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
