<app-navbar></app-navbar>

<div class="row">
  <div class="col-lg-2 responsivehide">
    <img src="/assets/images/slide01-01.png"
         style="top: 99.2188px; width: 487.164px; height: 908.844px; margin: 0px; padding: 0px;">
  </div>
  <div class="mx-auto col-lg-8">
    <div class="row py-4">
      <div class="col-lg-3">
        <app-categories></app-categories>
      </div>
      <div class="col-lg-6">
        <app-menu></app-menu>
      </div>
      <div class="col-lg-3">
        <app-basket></app-basket>
      </div>
    </div>
  </div>
  <div class="col-lg-2 responsivehide">
    <img src="/assets/images/slide01-06.png"
         style="top: 99.2188px; width: 302.617px; height: 994.172px; margin: 0px; padding: 0px;">
  </div>
</div>
