
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div class="modal-body">
    <div class="form-group">
      <label for="loginemail">E-mail</label>
      <input class="form-control font-weight-bold" type="email" id="loginemail" name="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="loginpassword">Password</label>
      <input class="form-control" type="password" id="loginpassword" name="password" formControlName="password">
    </div>
    <label class="col mt-1 font-weight-bolder text-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </label>
  </div>
  <div class="modal-footer container">
    <button type="submit" class="btn btn-success font-weight-bold btn-lg btn-block">LOGIN
    </button>
    <button type="button" class="btn btn-dark font-weight-bold btn-lg" (click)="changeModal()">
      REGISTER
    </button>
  </div>
</form>
