@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  background-image: url("/assets/images/background.jpg");
  color: white;
  overflow-x: hidden;
}

.widget-background {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(35, 35, 35, 0.95);
}

.widget-list {
  position: relative;
  display: block;
  /*padding: 0.75rem 1.25rem;*/
  margin-bottom: 4px;

  /*background-color: rgba(209, 196, 174, 0.8);*/
  /*border: 1px solid rgba(0, 0, 0, 0.125);*/
}

.widget li:hover {
  background-color: rgba(60, 60, 60, 0.61);
}
